<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>{{ company.name }}</title>

    <link rel="stylesheet" href="/static/css/style.css">

</head>

<body>
    <nav>

    <div class="logo">
        <a href="/">{{ company.name }}</a>
    </div>

    <div class="nav-links">

        {% for item in company.navigation %}

            <a href="{{ item.url }}">
                {{ item.title }}
            </a>

        {% endfor %}

    </div>

    </nav>

    {% block content %}

    {% endblock %}

</body>

</html>